.App {
  font-family: sans-serif;
  text-align: center;
}

@font-face {
  font-family: "ChalkboardSE-Regular";
  src: local("ChalkboardSE-Regular"),
    url("./fonts/ChalkboardSE-Regular.ttf") format("truetype");
  font-weight: 100;
}